<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>单词列表</title>
</head>
<body>
    <h1>单词列表</h1>
    <table>
        <tr>
            <th>单词</th>
            <th>解释</th>
            <th>艾宾浩斯指数</th>
            <th>添加日期</th>
          </tr>
        {% for word, info in words.items() %}
<tr>
  <td>{{ word }}</td>
  <td>{{ info['explanation'] }}</td>
  <td>{{ info['ebbinghaus_index'] }}</td>
  <td>{{ info.added_date }}</td>
</tr>
{% endfor %}
    </table>
</body>
</html>